$color-text-default: var(--colorNeutral100);
$color-text-subtle: var(--colorBrown300);
$color-text-strong: var(--colorBrown400);
$color-background-default: var(--colorBrown200);
$color-background-strong: var(--colorBrown400);
$color-background-subtle: var(--colorBrown100);
$color-background-primary: var(--colorRed100);
$color-background-secondary: var(--colorCyan100);
