@use "../abstract/" as *;

.h-wrapper {
  padding: {
    right: 1.6rem;
    left: 1.6rem;
  }
}

.card {
  @include center-block;
  max-width: 54rem;
}

.card__container {
  display: flex;
  align-items: center;
  height: 100vh;

  @include breakpoint-up(large) {
    align-items: flex-start;
  }
}

.card__element {
  @include breakpoint-up(large) {
    padding: {
      top: 18.2rem;
    }
  }
}
