@use "../util/" as *;
@use "../abstract/" as *;

.card__element {
  width: 100%;
}

.card__balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: {
    bottom: 1.6rem;
  }
  padding: 2rem 2rem 2.2rem;
  background-color: $color-background-primary;
  border-radius: 1rem;
}

.card__account-overview h2,
.card__monthly-total h2 {
  margin-bottom: 0.4rem;
}

.card__logo-container {
  margin: {
    right: 0.4rem;
  }
  max-width: 6rem;
}

.card__data-container {
  padding: 0 2rem;
  background-color: $color-background-subtle;
  border-radius: 1rem;
}

.card__graph-overview {
  padding: 2.4rem 0;
  border-bottom: 0.2rem solid $color-background-default;
}

.card__graph-overview h1 {
  margin: {
    bottom: 5.2rem;
  }
}

.card__graph-data,
.card__data-overview {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__graph-bar-container {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card__modal-overlay {
  position: absolute;
  top: -4.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  padding: 0.8rem;
  background-color: $color-background-strong;
  border-radius: 0.5rem;
}

.card__graph-bar {
  margin: {
    bottom: 1.1rem;
  }
  width: 3.3rem;
  background-color: $color-background-primary;
  border-radius: 0.5rem;
}

.card__graph-bar-container:nth-child(1) .card__graph-bar {
  height: 5rem;
}

.card__graph-bar-container:nth-child(2) .card__graph-bar {
  height: 10rem;
}

.card__graph-bar-container:nth-child(3) .card__graph-bar {
  height: 15rem;
  background-color: $color-background-secondary;
}

.card__graph-bar-container:nth-child(4) .card__graph-bar {
  height: 8.9rem;
}

.card__graph-bar-container:nth-child(5) .card__graph-bar {
  height: 6.7rem;
}

.card__graph-bar-container:nth-child(6) .card__graph-bar {
  height: 12.4rem;
}

.card__graph-bar-container:nth-child(7) .card__graph-bar {
  height: 7.3rem;
}

.card__data-overview {
  padding: 2.4rem 0;
}

.card__monthly-increase .percent,
.card__monthly-increase .label {
  display: block;
  text-align: right;
}
